samples/swagger-jersey-spring/src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://code.google.com/p/ramp-sample/source/browse/samples/swagger-jersey-spring/src/main/resources/schema.xsd"
	xmlns:tns="https://code.google.com/p/ramp-sample/source/browse/samples/swagger-jersey-spring/src/main/resources/schema.xsd"
	elementFormDefault="qualified">

	<element name="User" type="tns:UserType"></element>

	<complexType name="UserType">
		<sequence>
			<element name="emailId" type="string"></element>
			<element name="firstName" type="string"></element>
			<element name="lastName" type="string"></element>
		</sequence>
	</complexType>
</schema>